
@{
    ViewBag.Title = "Index";
}


<h2>Home</h2>
<style>
    img#supplier {
    margin-left: 52px;
    margin-top: -37px;
    height: 296px;
    }

    img#company {
    margin-left: 66px;
    }

    figcaption {
    margin-left: 115px;
    font-size: 26px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <figure><a href="/Admin/Login"><img src="~/Images/Admin.jpg" width="300" height="258" alt="admin" id="admin" /></a><figcaption>Admin</figcaption> </figure>
        </div>
        <div class="col-sm-4">
            <figure><a href="/Company/LoginUser"><img src="~/Images/Company.png" width="300" height="258" alt="admin" id="company" /></a><figcaption>Company</figcaption> </figure>
        </div>
        <div class="col-sm-4">
            <figure><a href="/Supplier/LoginUser"><img src="~/Images/Company1.png" width="300" id="supplier" /></a><figcaption>Supplier</figcaption> </figure>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



