
@{
    ViewBag.Title = "RegSucces";
}

<h2>RegSucces</h2>


<p>
    @TempData["msg"].ToString();

</p>
<br>
<p style="color:red">
    @TempData["abc"].ToString();
</p>
@Html.ActionLink("Back to home page", "Index", "Common")